# Python cache
_pycache_/
*.pyc

# Virtual environment
.venv/

# Secret files
.env/

# SQLite database


# Flask migration cache
migrations/_pycache_/

# React build or node modules
node_modules/

# IDE / Editor settings
.vscode/
.idea/

# Log or text files
